<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nyist_shop.user.mapper.RoleMapper">
    <resultMap id="RoleMapper" type="com.nyist_shop.user.domian.Role">
        <result column="role_id" property="roleId"/>
        <result column="role_name" property="roleName"/>
        <result column="role_description" property="roleDescription"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>
    <select id="findAllRoles" resultMap="RoleMapper">
    select * from role;
</select>

    <select id="findOneRoleByRoleId" parameterType="String" resultMap="RoleMapper">
        select * from role where role_id = (select role_id from user_role where work_id =#{workId})
    </select>
    <!--   <insert id="addRole" parameterType="RoleMapper">
           insert into role w
       </insert>-->
</mapper>
